.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  #input_box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    overflow-x: hidden;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }